*
  outline: 0

body
  background: $white
  width: 100%
  font-family: "AvenirNextCyr", sans-serif
  font-size: 15px
  line-height: 20px
  color: $dark-navy-blue
  margin: 80px 0 0 0

a
  text-decoration: none
  color: $lightish-blue

a:hover
  text-decoration: underline

.row, [class^=col-]
    padding: 0

b
    font-weight: 600

.wrap
    max-width: 100%

h1
    font-size: 22px
    font-weight: bold
    line-height: 20px
    color: $dark-navy-blue
    margin: 30px

.wrap-sidebar
    margin-top: 110px

.pagination
    margin: 0 auto 20px auto

.rotate-90
    transform: rotate(90deg)

.rotate-180
    transform: rotate(180deg)

.rotate-270
    transform: rotate(270deg)

.breadcrumbs
    margin-top: 50px
    color: $dark-navy-blue
    font-size: 15px
    line-height: 20px

.breadcrumbs span.separator
    color: $warm-grey

.wrap-default
    max-width: 1200px
    width: 100%
    margin: 0 auto
