@font-face
    font-family: 'libhouse-icons'
    src:  url('../fonts/libhouse-icons.eot?lpzgnq')
    src:  url('../fonts/libhouse-icons.eot?lpzgnq#iefix') format('embedded-opentype'), url('../fonts/libhouse-icons.ttf?lpzgnq') format('truetype'), url('../fonts/libhouse-icons.woff?lpzgnq') format('woff'), url('../fonts/libhouse-icons.svg?lpzgnq#libhouse-icons') format('svg')
    font-weight: normal
    font-style: normal
    font-display: block

.lh-icon
    font-family: 'libhouse-icons' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    vertical-align: middle
    font-size: 18px
    margin-top: -2px
    display: inline-block

.lh-icon-update:before
    content: "\e923"
    color: #495aff

.lh-icon-toast-error .path1:before
    content: "\e910"
    color: #ffd93b

.lh-icon-toast-error .path2:before
    content: "\e911"
    color: #f4c534
    margin-left: -1em

.lh-icon-toast-error .path3:before
    content: "\e912"
    color: #3e4347
    margin-left: -1em

.lh-icon-toast-error .path4:before
    content: "\e913"
    color: #3e4347
    margin-left: -1em

.lh-icon-toast-error .path5:before
    content: "\e914"
    color: #3e4347
    margin-left: -1em

.lh-icon-toast-error .path6:before
    content: "\e915"
    color: #e24b4b
    margin-left: -1em

.lh-icon-toast-error .path7:before
    content: "\e916"
    color: #f4c534
    margin-left: -1em

.lh-icon-toast-error .path8:before
    content: "\e917"
    color: #3e4347
    margin-left: -1em

.lh-icon-toast-error .path9:before
    content: "\e918"
    color: #f4c534
    margin-left: -1em

.lh-icon-toast-error .path10:before
    content: "\e919"
    color: #3e4347
    margin-left: -1em

.lh-icon-toast-error .path11:before
    content: "\e91a"
    color: #d03f3f
    margin-left: -1em

.lh-icon-toast-error .path12:before
    content: "\e91b"
    color: #fff
    opacity: 0.2
    margin-left: -1em

.lh-icon-toast-success .path1:before
    content: "\e91c"
    color: #ffd93b

.lh-icon-toast-success .path2:before
    content: "\e91d"
    color: #f4c534
    margin-left: -1em

.lh-icon-toast-success .path3:before
    content: "\e91e"
    color: #3e4347
    margin-left: -1em

.lh-icon-toast-success .path4:before
    content: "\e91f"
    color: #e9b02c
    margin-left: -1em

.lh-icon-toast-success .path5:before
    content: "\e920"
    color: #3e4347
    margin-left: -1em

.lh-icon-toast-success .path6:before
    content: "\e921"
    color: #e9b02c
    margin-left: -1em

.lh-icon-toast-success .path7:before
    content: "\e922"
    color: #3e4347
    margin-left: -1em

.lh-icon-danger:before
    content: "\e90f"
    color: #ea0000

.lh-icon-cross:before
    content: "\e90e"
    color: #bdbdbd

.lh-icon:not(.lh-after)
    margin-right: 7px

.lh-icon.lh-after
    margin-left: 7px

.lh-icon-share:before
    content: "\e909"
    color: #c4c4c4

.lh-icon-camera:before
    content: "\e90d"
    color: #c4c4c4

.lh-icon-select-arrow:before
    content: "\e90a"
    color: #bdbdbd

.lh-icon-arrow-left:before
    content: "\e90c"
    color: #f6f6f6
    transform: rotate(180deg)
    display: inline-block

.lh-icon-arrow-right:before
    content: "\e90c"
    color: #f6f6f6

.lh-icon-checker:before
    content: "\e90b"
    color: #49c628

.lh-icon-eye:before
    content: "\e900"
    color: #c4c4c4

.lh-icon-filter:before
    content: "\e901"
    color: #f6f6f6

.lh-icon-heart:before
    content: "\e902"
    color: #c4c4c4

.lh-icon-map:before
    content: "\e903"
    color: #c4c4c4

.lh-icon-place:before
    content: "\e904"
    color: #5a5a5a

.lh-icon-search:before
    content: "\e905"
    color: #c4c4c4

.lh-icon-user:before
    content: "\e906"
    color: #5a5a5a

.lh-icon-view:before
    content: "\e907"
    color: #c4c4c4

.lh-icon-view-alternative:before
    content: "\e908"
    color: #c4c4c4
