@charset "UTF-8";
@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  src: url("../fonts/AvenirNextCyr-Regular.eot") format("eot");
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: normal; }
@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  src: url("../fonts/AvenirNextCyr-Bold.eot") format("eot");
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lorabold.ttf") format("truetype");
  src: url("../fonts/Lorabold.woff") format("woff");
  src: url("../fonts/Lorabold.woff2") format("woff2"); }
@font-face {
  font-family: "libhouse-icons";
  src: url("../fonts/libhouse-icons.eot?lpzgnu");
  src: url("../fonts/libhouse-icons.eot?lpzgnu#iefix") format("embedded-opentype"), url("../fonts/libhouse-icons.ttf?lpzgnu") format("truetype"), url("../fonts/libhouse-icons.woff?lpzgnu") format("woff"), url("../fonts/libhouse-icons.svg?lpzgnu#libhouse-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
.lh-icon {
  font-family: "libhouse-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

.lh-icon-cross:before {
  content: "";
  color: #bdbdbd; }

.lh-icon:not(.lh-after) {
  margin-right: 7px; }

.lh-icon.lh-after {
  margin-left: 7px; }

.lh-icon-share:before {
  content: "";
  color: #c4c4c4; }

.lh-icon-camera:before {
  content: "";
  color: #c4c4c4; }

.lh-icon-select-arrow:before {
  content: "";
  color: #bdbdbd; }

.lh-icon-arrow-left:before {
  content: "";
  color: #f6f6f6;
  transform: rotate(180deg);
  display: inline-block; }

.lh-icon-arrow-right:before {
  content: "";
  color: #f6f6f6; }

.lh-icon-checker:before {
  content: "";
  color: #49c628; }

.lh-icon-eye:before {
  content: "";
  color: #c4c4c4; }

.lh-icon-filter:before {
  content: "";
  color: #f6f6f6; }

.lh-icon-heart:before {
  content: "";
  color: #c4c4c4; }

.lh-icon-map:before {
  content: "";
  color: #c4c4c4; }

.lh-icon-place:before {
  content: "";
  color: #5a5a5a; }

.lh-icon-search:before {
  content: "";
  color: #c4c4c4; }

.lh-icon-user:before {
  content: "";
  color: #5a5a5a; }

.lh-icon-view:before {
  content: "";
  color: #c4c4c4; }

.lh-icon-view-alternative:before {
  content: "";
  color: #c4c4c4; }

* {
  outline: 0; }

body {
  background: #ffffff;
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  font-family: "AvenirNextCyr", sans-serif;
  font-size: 15px;
  color: #000b28; }

a {
  text-decoration: none;
  color: #495aff; }

a:hover {
  text-decoration: underline; }

.row, [class^=col-] {
  padding: 0; }

b {
  font-weight: 600; }

.wrap {
  padding: 0 60px;
  max-width: 100%; }

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  color: #000b28;
  margin: 30px; }

.wrap-sidebar {
  margin-top: 110px; }

.btn, .btn-disabled {
  padding: 12px 21px;
  color: #495aff;
  vertical-align: middle;
  line-height: 16px;
  border: solid 1px #495aff;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  font-family: "AvenirNextCyr", sans-serif;
  transition: 0.4s;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.btn:hover, .btn-disabled:hover {
  text-decoration: none; }

.btn-primary, .btn.active, .active.btn-disabled {
  background: #495aff;
  padding: 12px 21px;
  color: #f6f6f6; }

.btn.active:hover, .active.btn-disabled:hover {
  background: #4251e5; }

.btn-disabled {
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  cursor: default; }

.btn-group-toggle > .btn, .btn-group-toggle > .btn-disabled, .btn-group-toggle > .btn-group > .btn-disabled {
  margin-bottom: 0; }

.btn-group-toggle > .btn input[type="radio"], .btn-group-toggle > .btn-disabled input[type="radio"], .btn-group-toggle > .btn input[type="checkbox"], .btn-group-toggle > .btn-disabled input[type="checkbox"], .btn-group-toggle > .btn-group > .btn input[type="radio"], .btn-group-toggle > .btn-group > .btn-disabled input[type="radio"], .btn-group-toggle > .btn-group > .btn input[type="checkbox"], .btn-group-toggle > .btn-group > .btn-disabled input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; }

.btn.btn-simple, .btn-simple.btn-disabled {
  color: #000b28;
  border: 0;
  padding: 11px 0;
  margin: 0; }

.btn.btn-lg, .btn-lg.btn-disabled {
  padding: 19px 20px;
  font-size: 15px;
  line-height: 20px; }

.btn.btn-small, .btn-small.btn-disabled {
  padding: 6px 21px; }

.btn.btn-gray, .btn-gray.btn-disabled {
  background: #f6f6f6;
  border-color: #f6f6f6;
  color: #000b28; }

.btn-block {
  display: block;
  width: 100%; }

/* Material Ripple */
.btn, .btn-disabled {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }

.btn:after, .btn-disabled:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.001%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(0, 0);
  opacity: 0;
  transition: transform 0.5s, opacity 1s; }

.btn:focus:after, .btn-disabled:focus:after {
  transform: scale(10, 10);
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  -moz-opacity: 0.15;
  -khtml-opacity: 0.15;
  transition: 0s; }

.btn.no-pointer, .no-pointer.btn-disabled {
  cursor: initial; }

div .form-group {
  margin-bottom: 0; }

input:not([type=checkbox]).form-control::placeholder {
  color: #000b28; }

input:not([type=checkbox]).form-control {
  height: 60px;
  padding: 0 30px;
  font-size: 15px;
  color: #000b28;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

input:not([type=checkbox]).form-control.is-valid {
  border: solid 1px #49c628; }

input:not([type=checkbox]).form-control.is-invalid {
  border: solid 1px #ea0000; }

.price-input input:not([type=checkbox]).form-control {
  padding: 0 90px 0 30px; }

.price-input {
  position: relative; }

.currency-price-input {
  position: absolute;
  top: 0;
  right: 30px;
  line-height: 60px;
  color: #000b28;
  font-size: 15px; }

textarea.form-control {
  width: 100%;
  height: 206px !important;
  padding: 20px 30px;
  font-family: "AvenirNextCyr", sans-serif;
  font-size: 15px;
  color: #000b28;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: solid 1px #dfdfdf; }

.checkbox {
  display: none; }

.checkbox + label {
  display: inline-block;
  margin: -2px 10px 0 0;
  cursor: pointer;
  color: #000b28;
  font-weight: 300; }

.checkbox + label:before {
  content: "";
  display: inline-block;
  font-family: "libhouse-icons";
  text-align: center;
  width: 17px;
  height: 17px;
  color: #49c628;
  transition: 0.1s;
  border: 1px solid #c4c4c4;
  font-size: 0;
  line-height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px; }

.checkbox:checked + label:before {
  border-color: #49c628; }

.checkbox:checked + label:before {
  font-size: 10px; }

.checkbox.blue:checked + label:before {
  color: #ffffff;
  border-color: #495aff;
  background: #495aff; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 60px;
  padding: 0 30px;
  color: #000b28; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #000b28; }

span.select2-selection.select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
  height: 60px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  line-height: 60px;
  padding: 0 30px;
  color: #000b28;
  font-size: 15px; }

.select2-search--dropdown {
  padding: 0; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none; }

.select2-container--default .select2-results__option .select2-results__option {
  font-size: 15px;
  color: #000b28;
  padding: 6px 30px;
  line-height: 19px;
  transition: 0.4s; }

.select2-results__options {
  padding: 10px 0; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background: #f6f6f6; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #f6f6f6;
  color: #000b28; }

.select2-container--open .select2-dropdown--below {
  margin: -3px 0;
  border: 1px solid #dfdfdf;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px; }

.realty-create-wrap {
  max-width: 1194px;
  width: 100%;
  margin: 0 auto; }

.realty-create-form {
  max-width: 890px;
  width: 100%;
  margin: 50px auto;
  padding: 0; }

.realty-create-form-block {
  margin: 20px 0;
  padding: 30px 40px;
  border: solid 1px #f6f6f6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  position: relative; }

.realty-create-form .form-group.row {
  margin: 0; }

label {
  width: 100%;
  font-weight: bold;
  line-height: 20px;
  color: #000b28;
  margin: 20px 0;
  display: block; }

label.m-light {
  margin: 10px 0; }

label span {
  color: #ea0000; }

.btn-group-toggle > * {
  margin-top: 0; }

.btn-group-toggle > *:first-child {
  margin-left: 0; }

.radio + label:before {
  content: "";
  width: 14.5px;
  height: 14.5px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2.5px;
  transition: 0.2s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

.radio + label:before {
  border: 1.5px solid #c4c4c4;
  background: -moz-radial-gradient(circle closest-side, #c4c4c4 2.8px, #ffffff 3.8px);
  background: -webkit-gradient(circle closest-side, #c4c4c4 2.8px, #ffffff 3.8px);
  background: -webkit-radial-gradient(circle closest-side, #c4c4c4 2.8px, #ffffff 3.8px);
  background: -o-radial-gradient(circle closest-side, #c4c4c4 2.8px, #ffffff 3.8px);
  background: -ms-radial-gradient(circle closest-side, #c4c4c4 2.8px, #ffffff 3.8px);
  background: radial-gradient(circle closest-side, #c4c4c4 2.8px, #ffffff 3.8px); }

.radio:checked + label:before {
  border: 1.5px solid #495aff;
  background: -moz-radial-gradient(circle closest-side, #495aff 2.8px, #ffffff 3.8px);
  background: -webkit-gradient(circle closest-side, #495aff 2.8px, #ffffff 3.8px);
  background: -webkit-radial-gradient(circle closest-side, #495aff 2.8px, #ffffff 3.8px);
  background: -o-radial-gradient(circle closest-side, #495aff 2.8px, #ffffff 3.8px);
  background: -ms-radial-gradient(circle closest-side, #495aff 2.8px, #ffffff 3.8px);
  background: radial-gradient(circle closest-side, #495aff 2.8px, #ffffff 3.8px); }

.radio + label {
  line-height: 20px;
  color: #000b28;
  font-weight: 300;
  margin: 0 0 15px 0;
  display: inline-block;
  cursor: pointer; }

.radio {
  display: none; }

.radio-grid .d-table-cell {
  padding-right: 20px; }

.checkbox-grid-wrap {
  align-items: flex-start; }

.checkbox-grid > div {
  width: 100%;
  vert-align: top; }

.checkbox-grid > div:not(:last-child) {
  margin-bottom: 20px; }

.checkbox-grid > div:last-child {
  margin-bottom: 10px; }

.label-desc {
  font-size: 12px;
  line-height: 20px;
  color: #5a5a5a;
  margin: -16px 0 20px 0; }

.dropzone-wrap .dz-default.dz-message {
  padding: 10px 0 0 0;
  width: 150px;
  height: 150px; }

.dropzone-wrap .dz-default.dz-message:before {
  content: "";
  display: block;
  font-family: "libhouse-icons";
  color: #c4c4c4;
  font-size: 64px;
  margin-bottom: 20px; }

.dropzone-wrap .dz-default.dz-message span {
  width: 100%;
  border: 1px solid #495aff;
  padding: 8px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #495aff;
  display: block; }

.dropzone-wrap .dz-default.dz-message {
  text-align: center;
  margin: 0 auto; }

.dropzone-wrap {
  width: 100%;
  padding: 13px 15px;
  border: 1px dashed #c4c4c4;
  cursor: pointer;
  transition: 0.2s; }

.dropzone-wrap:hover {
  border-color: #495aff; }

.dropzone-wrap .dz-preview.dz-processing:not(.dz-complete) .dz-image img {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4; }

.dropzone-wrap .dz-image img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.dropzone-wrap .dz-image {
  float: left;
  background: #f6f6f6; }

.dropzone-wrap .dz-preview {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin: 15px;
  overflow: hidden; }

.dropzone-wrap .dz-details {
  margin: 0;
  padding: 5px;
  position: absolute;
  left: 0;
  top: -100%;
  background-color: rgba(0, 11, 40, 0.3);
  width: 100%;
  transition: 0.4s;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0; }

.dropzone-wrap .dz-preview:not(.dz-processing):hover .dz-details,
.dropzone-wrap .dz-preview.dz-processing.dz-complete:hover .dz-details {
  top: 0; }

.dropzone-wrap .dz-details li {
  list-style: none;
  padding: 5px;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center; }

.dropzone-wrap .dropzone-thumbs {
  float: left; }

.float-photo-info {
  width: 258px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 6px 20px rgba(0, 11, 40, 0.1);
  padding: 30px 20px;
  color: #5a5a5a;
  position: absolute;
  top: 0;
  right: -288px; }

h1 + form.realty-create-form {
  margin-top: 0; }

.autocomplete-suggestions {
  background: #ffffff;
  font-size: 15px;
  color: #000b28;
  line-height: 19px;
  margin-top: -3px;
  border: 1px solid #dfdfdf;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px; }

.autocomplete-suggestion {
  padding: 6px 30px;
  cursor: pointer; }

.autocomplete-suggestion:hover, .autocomplete-suggestion.autocomplete-selected {
  background-color: #f6f6f6; }

.autocomplete-group {
  font-size: 12px;
  color: #a1a1a1;
  padding: 5px 30px;
  clear: both;
  font-weight: 300; }

.autocomplete-input:focus {
  outline: 0 !important;
  box-shadow: none !important; }

.header-address-autocomplete {
  max-width: 383px;
  width: 100% !important;
  margin: 15px 0 0 -30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.form-after-desc {
  font-size: 12px;
  line-height: 20px;
  color: #5a5a5a;
  padding: 0 18px; }

.popover.tooltip_err {
  max-width: 300px !important;
  padding: 20px 30px !important;
  background: #ea0000;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  line-height: 20px; }

.popover.tooltip_err .popover-body {
  color: #ffffff; }

.popover.tooltip_err .arrow {
  display: block !important; }

.popover.tooltip_err .arrow:after {
  border-right-color: #ea0000; }

.login-params {
  margin: 10px 0 30px 0 !important;
  width: 100%; }

.auth-tabs {
  font-family: "AvenirNextCyr", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 22px 0 !important;
  padding: 0; }

.auth-tabs li {
  margin-right: 20px; }

.auth-tabs li a {
  color: #c4c4c4; }

.auth-tabs li a:hover, .auth-tabs li a.active {
  color: #000b28;
  text-decoration: none; }

.widget-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  color: #000b28;
  margin: 50px 0 20px 0; }

.popover {
  margin-top: 0 !important;
  padding: 10px 30px 15px 30px !important;
  max-width: 532px !important;
  font-family: "AvenirNextCyr", sans-serif !important;
  border: 0 !important; }

.popover .arrow {
  display: none !important; }

.popover .popover-body {
  padding: 0 !important; }

.popup-question {
  color: #000b28;
  text-align: center;
  line-height: 12px; }

.popup-group-btn {
  margin: 20px 0 0 0; }

.popup-group-btn .btn:not(:last-child), .popup-group-btn .btn-disabled:not(:last-child) {
  margin: 0 10px 0 0; }

.popup-group-btn .btn:last-child, .popup-group-btn .btn-disabled:last-child {
  margin: 0; }

.modal-content {
  padding: 50px; }

.modal-header {
  border: 0 !important;
  padding: 0 !important; }

.modal-title {
  font-family: "AvenirNextCyr", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #1a1a1a;
  text-align: center;
  line-height: initial !important;
  padding: 0;
  margin: 0;
  width: 100%; }

.modal .close {
  display: none; }

.modal-body {
  padding: 30px 0 0 0 !important; }

.popup-after-list {
  margin: 40px 0 0 0;
  padding: 0; }

.popup-after-list li {
  list-style: none;
  margin-top: 10px; }

.popup-after-list li a {
  font-size: 15px;
  line-height: 20px;
  color: #000000; }

.modal-footer {
  border: 0 !important; }

.modal-footer:empty {
  padding: 0 !important; }

#auth-form-modal .modal-dialog {
  max-width: 380px; }

#auth-form-modal .modal-content {
  padding: 50px 40px; }

#auth-form-modal form {
  margin: 0; }

.header {
  background: #000b28;
  width: 100%; }

.header-top-wrap > div:not(.city-question-popup) {
  padding: 0 60px;
  line-height: 68px;
  vertical-align: middle;
  color: #f6f6f6;
  font-size: 13px; }

.header-top-wrap .lh-icon {
  font-size: 18px; }

.current-city-wrap {
  cursor: pointer;
  display: inline-block; }

.current-city-wrap:hover > span {
  text-decoration: underline; }

.header-profile-menu {
  margin: 0;
  padding: 0;
  float: right; }

.header-profile-menu li {
  float: left;
  list-style: none; }

.header-profile-menu li:not(:first-child) {
  margin-left: 30px; }

.header-profile-menu li a {
  color: #f6f6f6; }

.header-profile-menu li a:hover {
  text-decoration: none; }

.header-profile-menu li a:hover > span {
  text-decoration: underline; }

.header-middle-wrap {
  padding: 0 10px;
  line-height: 90px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  background: #ffffff; }

.header-menu {
  margin: 0;
  padding: 0; }

.header-menu li {
  float: left;
  list-style: none; }

.header-menu li a {
  margin: 0 10px;
  padding: 10px;
  color: #000b28; }

.header-additional-menu {
  margin: 0;
  padding: 0;
  float: right; }

.header-additional-menu li {
  float: left;
  list-style: none;
  margin: 0 4px 0 8px; }

.header-additional-menu li:last-child {
  margin: 0 0 0 8px; }

.header-bottom-wrap {
  margin: 40px auto;
  display: inline-block;
  width: 100%; }

.header-title {
  font-size: 38px;
  font-weight: bold;
  color: #f6f6f6;
  margin: 30px 0;
  font-family: "Lora", sans-serif; }

.header-filter {
  max-width: 1272px;
  width: 100%;
  height: 50px;
  background: #ffffff;
  margin-bottom: 68px;
  text-align: left;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.header-filter .header-filters-wrap > div {
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  float: left; }

.header-filter .header-filters-wrap > div:not(.header-filter-with-input) {
  padding: 0 20px; }

.header-filter .header-filters-wrap > div:not(.header-filter-with-label) {
  line-height: 50px; }

.header-filter .header-filters-wrap > div.header-filter-with-label {
  padding-top: 5px; }

.header-filter .header-filters-wrap > div:first-child {
  margin-left: 10px; }

.header-filter .header-filters-wrap > div:not(:last-child) {
  border-right: 1px solid #f6f6f6; }

.header-filter .header-filters-wrap > div:first-child {
  max-width: 348px;
  width: 100%; }

.header-filter .header-filters-wrap > div:nth-child(2), .header-filter .header-filters-wrap > div:nth-child(4) {
  max-width: 122px;
  width: 100%; }

.header-filter .header-filters-wrap > div:nth-child(3) {
  max-width: 142px;
  width: 100%; }

.header-filter .header-filters-wrap > div:nth-child(5) {
  max-width: 273px;
  width: 100%; }

.header-filter .header-filters-wrap > div:nth-child(6) {
  max-width: 105px;
  width: 100%; }

.header-filter .header-filters-wrap > div:nth-child(7) {
  max-width: 150px;
  width: 100%; }

.header-filters-wrap > div:last-child input {
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0; }

.header-filter-label {
  font-size: 12px;
  color: #a1a1a1;
  margin-bottom: 2px; }

.header-filter input:not(.header-address-input) {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  width: 100%;
  border: 0; }

.header-filter input.header-address-input {
  padding: 0 20px 0 0;
  width: 100%;
  border: 0;
  font-size: 15px; }

.header-filter input::placeholder {
  color: #000b28; }

.header-filter .lh-icon-select-arrow {
  position: absolute;
  top: 19px;
  right: 14px;
  font-size: 14px; }

.header-filter-simple-list {
  margin: 0 -30px;
  padding: 0; }

.header-filter-simple-list li {
  list-style: none;
  font-size: 15px;
  color: #000b28;
  padding: 6px 30px;
  line-height: 19px;
  transition: 0.4s; }

.header-filter-simple-list li label {
  color: #000b28;
  font-family: "AvenirNextCyr", sans-serif; }

.header-filter-simple-list li[data-val]:hover, .header-filter-simple-list li[data-val].active {
  background: #f6f6f6;
  cursor: pointer; }

.header-filter-label-popup, .select2-results__group {
  font-size: 12px;
  color: #a1a1a1;
  padding: 5px 0;
  clear: both;
  font-weight: 300; }

.select2-container--default .select2-results__group {
  padding: 6px 30px; }

.header-filter-simple-list.with-checkboxes {
  padding: 5px 0; }

.header-filter-submit {
  float: right;
  margin: 10px 0 0 0; }

.header-select2 + .select2-container, .header-select2 + .select2-container .select2-selection {
  height: 50px;
  border: 0;
  background: transparent;
  cursor: pointer; }

.header-select2 + .select2-container .select2-selection .select2-selection__rendered {
  line-height: 50px; }

.header-select2 + .select2-container .select2-selection .select2-selection__arrow b {
  border: 0;
  top: 2.5px; }

.select2-container--default .select2-selection .select2-selection__arrow b:before {
  content: "";
  display: inline-block;
  font-family: "libhouse-icons";
  color: #bdbdbd;
  font-size: 14px;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header-filter-with-select {
  cursor: pointer; }

.header-filter-multi-list {
  margin: 3px -10px 0 -10px;
  padding: 0; }

.header-filter-multi-list li {
  float: left;
  list-style: none;
  font-size: 15px;
  color: #000b28;
  padding: 6px 11px;
  margin: 0 10px 10px 10px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #495aff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.header-filter-multi-list li:hover, .header-filter-multi-list li.active {
  background: #495aff;
  color: #f6f6f6; }

.city-question-popup {
  position: absolute;
  top: 181px;
  background: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.col-city {
  float: left; }

.address-popover {
  width: 383px; }

.slick-slide {
  height: initial; }

.slick-slide img {
  max-width: 100%;
  height: auto; }

.slick-dots li button {
  display: none; }

.slick-single-silde .slick-dots {
  z-index: 10;
  position: relative;
  margin: -32px 0 0 0;
  padding: 0;
  text-align: center; }

.slick-single-silde .slick-dots li {
  list-style: none;
  margin: 0;
  padding: 15px 8px;
  line-height: 20px;
  display: inline-block; }

.slick-single-silde .slick-dots li:before {
  content: "";
  display: inline-block;
  background: #bdbdbd;
  width: 50px;
  height: 2px; }

.slick-single-silde .slick-dots li.slick-active:before {
  background: #495aff; }

.slick-arrow {
  position: absolute;
  top: 45.7%;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-size: 10px;
  z-index: 1;
  text-align: center;
  line-height: 60px;
  cursor: pointer; }

.slick-arrow .lh-icon {
  margin: 0;
  line-height: 60px; }

.slick-arrow i:before {
  color: #000b28; }

.realty-cats-list-content {
  margin: -6px 0 -8px 0; }

.realty-cats-list-content label {
  line-height: 20px;
  color: #a1a1a1;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 300;
  margin-top: 0; }

.adv-cats-link {
  font-size: 15px;
  line-height: 20px;
  color: #000b28;
  padding-bottom: 10px; }

.adv-cats-link > span {
  color: #495aff; }

.realty-cats-list-content .d-table-cell:not(:last-child) {
  padding-right: 30px; }

.realty-cats-list-content .d-table .d-table-row:last-child a {
  padding-bottom: 0; }

.realty-list.row {
  margin-left: -10px;
  margin-right: -10px; }

.realty-list .realty-list-article {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px; }

.realty-border {
  border: solid 1px #f6f6f6; }

.realt-wrap {
  padding: 20px; }

div.realty-title {
  font-size: 22px;
  font-weight: bold;
  color: #495aff;
  height: 54px; }

.realty-square span {
  font-size: 12px;
  color: #a1a1a1;
  padding-right: 8px; }

.realty-square {
  font-size: 22px;
  margin: 20px 0;
  height: 27px; }

.realty-square sup {
  font-size: 10px; }

.realty-price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px; }

.realty-city {
  font-size: 22px; }

.realty-favorite, .realty-counter, .realty-date {
  color: #a1a1a1;
  height: 27px;
  line-height: 27px; }

.realty-favorite {
  margin-bottom: 10px;
  cursor: pointer; }

.realty-favorite:hover span {
  border: 0; }

.realty-counter {
  margin-left: 10px; }

.realty-counter, .realty-date {
  display: inline-block; }

.realty-photos {
  background: #f6f6f6; }

.realty-photos .realty-img img {
  max-width: 100%; }

.realty-photos > .realty-img:nth-child(n + 2) {
  display: none; }

.realty-counter i.lh-icon {
  font-size: 18px;
  margin-top: -2px;
  display: inline-block; }

.realty-favorite span {
  border-bottom: 1px dotted #a1a1a1; }

.realty-single-photo-nav .realty-img {
  margin: 0 10px;
  cursor: pointer;
  width: initial !important;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  transition: 0.4s; }

.realty-single-photo-nav .realty-img:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8; }

.realty-single-photo-nav .realty-img:first-child {
  margin-left: 0; }

.realty-single-photo-nav .realty-img:last-child {
  margin-right: 0; }

.realty-single-photo-nav .slick-list {
  margin: 0; }

.realty-single-photo-nav .slick-track {
  display: flex;
  max-width: 100%; }

.realty-single-photo img {
  width: 100%; }

.realty-single-photo {
  margin: 40px 0 50px 0; }

.realty-single-photo-prev {
  left: 50px; }

.realty-single-photo-next {
  right: 50px; }

.realty-single-photo-nav {
  margin-bottom: 30px; }

.realty-info {
  margin: -5px 0 30px 0;
  padding: 0;
  text-align: right; }

.realty-info li {
  list-style: none;
  color: #a1a1a1; }

.realty-info li:not(:first-child) {
  margin-left: 30px; }

.realty-info .realty-counter {
  margin-left: 0; }

.realty-single {
  margin-top: 40px;
  padding: 40px 50px;
  border: solid 1px #f6f6f6; }

.realty-single-photo, .realty-single-photo-nav {
  margin-left: -50px;
  margin-right: -50px; }

h1.realty-title {
  margin: 0 0 30px 0; }

.realty-col-info-wrap {
  padding-bottom: 20px; }

.realty-margin-btm {
  margin-bottom: 50px; }

.realty-col-info-table .d-table-cell {
  width: 25%; }

.realty-col-info-table .d-table-cell:not(:last-child) {
  padding-right: 15px; }

.realty-sidebar-info {
  background: #f6f6f6;
  padding: 40px 50px; }

.realty-sidebar-price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px; }

.realty-sidebar-user-info {
  margin-top: 30px; }

.realty-sidebar-user-name {
  color: #5a5a5a; }

.realty-sidebar-user-name a {
  color: #495aff;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle; }

.realty-sidebar-user-name, .realty-sidebar-user-type {
  margin-bottom: 6px; }

.realty-sidebar-user-created {
  margin-bottom: 10px; }

.show-user-number {
  width: 100%;
  padding: 21px 20px;
  margin: 10px 0 0 0;
  text-align: center; }

.realty-breadcrumbs-wrap {
  margin-top: 45px; }

.realty-paginate-nav {
  margin: 0;
  padding: 0; }

.realty-paginate-nav li {
  list-style: none;
  float: left; }

.realty-paginate-nav li:not(:first-child) {
  margin-left: 20px; }

.add-video-cell {
  width: 109px;
  padding-left: 20px;
  vertical-align: top; }

.add-video {
  margin: 0; }

.realty-added-videos label {
  max-width: 560px;
  width: 100%; }

.pick-filter {
  margin-top: 30px;
  display: inline-block;
  width: 100%; }

.pick-filter.no-filters {
  margin-bottom: 10px; }

.pick-filter .btn:after, .pick-filter .btn-disabled:after {
  content: "test"; }

.realty-list-content {
  margin-top: 30px; }

.filter-sort-wrap {
  margin-top: 16px;
  line-height: 16px; }

.filter-sort {
  cursor: pointer; }

.filter-sort .lh-icon {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 0; }

.filter-sort-pick li:first-letter {
  text-transform: uppercase; }

.pick-filter .lh-icon {
  margin: -2px 0 0 8px;
  font-size: 14px;
  display: inline-block; }

.pick-filter .lh-icon:hover:before {
  color: #495aff;
  transition: 0.2s; }

.toasts-wrap {
  position: fixed;
  top: 17px;
  right: 30px;
  z-index: 999999; }

.toast {
  background-color: #495aff !important;
  color: #ffffff !important;
  margin: 10px 0;
  width: 300px;
  height: 80px;
  padding: 12px 21px; }

.toast .toast-body > p:first-child {
  margin-top: 0; }

.toast .toast-body > p:last-child {
  margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
