.realty-list.row
    margin-left: -10px
    margin-right: -10px

.realty-list .realty-list-article
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 20px

.realty-border
    border: solid 1px $white-two

.realt-wrap
    padding: 20px

div.realty-title
    font-size: 22px
    font-weight: bold
    color: $lightish-blue
    height: 54px

.realty-square span
    font-size: 12px
    color: $warm-grey
    padding-right: 8px

.realty-square
    font-size: 22px
    margin: 20px 0
    height: 27px

.realty-square sup
    font-size: 10px

.realty-price
    font-size: 22px
    font-weight: bold
    margin-bottom: 10px

.realty-city
    font-size: 22px

.realty-favorite, .realty-counter, .realty-date
    color: $warm-grey
    height: 27px
    line-height: 27px

.realty-favorite
    margin-bottom: 10px

.realty-counter
    margin-left: 10px

.realty-counter, .realty-date
    display: inline-block

.realty-photos
    background: $white-two

.realty-photos .realty-img img
    max-width: 100%

.realty-photos > .realty-img:nth-child(n + 2)
    display: none

.realty-counter i.lh-icon
    font-size: 18px
    margin-top: -2px
    display: inline-block

.realty-favorite span
    border-bottom: 1px dotted $warm-grey

.realty-single-photo-nav .realty-img:not(:last-child)
    margin-right: 20px

.realty-single-photo-nav .realty-img:last-child
    margin-right: 0

.realty-single-photo img
    width: 100%
