$toast_success_background: #49C628
$toast_error_background: #EA0000
$toast_success_color: #ffffff
$toast_error_color: #ffffff

.toasts-wrap
    position: fixed
    top: 17px
    right: 30px
    z-index: 999999

.toast
    margin: 10px 0
    padding: 20px 38px

.toast.toast-success
    background: $toast_success_background
    color: $toast_success_color

.toast.toast-error
    background: $toast_error_background
    color: $toast_error_color

.toast .toast-body > p:first-child
    margin-top: 0

.toast .toast-body > p:last-child
    margin-bottom: 0
